OXP_API_KEY=
OXP_MERCHANT_ID=
OXP_WEBHOOK_PASSWORD=

OXP_PAYMENT_URL=
OXP_PAYMENT_CREATE_URL=
OXP_SCAN_HOST=

PUBLIC_APP_URL=
CALLBACK_PUBLIC_URL=
CORS_ORIGIN=*

DATABASE_URL=
USE_EMBEDDED_POSTGRES=false

PORT=3000
